# A seperate workflow to report test results, because pull_request workflows from forks run under
# different permissions. This way we can post test results as a check and comment on the PR,
# without running the fork's code with write permissions.
#
# See https://github.com/marketplace/actions/publish-test-results#support-fork-repositories-and-dependabot-branches

name: Test Results

on:
  workflow_run:
    workflows: ["vitest"]
    types:
      - completed
permissions: {}

jobs:
  test-results:
    name: Test Results
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success' || github.event.workflow_run.conclusion == 'failure'

    permissions:
      checks: write

      # needed unless run with comment_mode: off
      pull-requests: write

      # required by download step to access artifacts API
      actions: read

    steps:
      - name: Download and Extract Artifacts
        uses: dawidd6/action-download-artifact@e7466d1a7587ed14867642c2ca74b5bcc1e19a2d
        with:
           run_id: ${{ github.event.workflow_run.id }}
           path: artifacts

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          commit: ${{ github.event.workflow_run.head_sha }}
          event_file: artifacts/Event File/event.json
          event_name: ${{ github.event.workflow_run.event }}
          files: "artifacts/**/*.xml"